.header {
    background-color: aqua;
    & &__logo {
        width: 100px;
        height: 200px;
    }
    & &__menu {
        display: inline;
        ul{
            list-style: none;
            li{
                padding: 5px;
                margin: auto;

                    a{
                        color: black;
                        
                        &:hover{
                            background: aqua;
                            color: white;
                            } 
                    }
            }
        }
    }
}